.fifth{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background: #f1f1f1;
	
}


.up{
	
	text-align: center;
	width: 70%;
	margin-top: 50px;

}

.slike{
	
	display: flex;
	flex-flow: column nowrap;
	margin: 50px 150px;

}

.slike img{
	
	
	max-width: 100%;
	max-height: 100%;
	width: 18%;
	height: 200px;
	display: inline-block;
	margin: 2px;
	object-fit: cover;
}