.fourth{
	
	padding: 0;
	width: 100%;
	height: 100%;
	
}

.fourth-small{
	
	display: flex;
	flex-direction: row;
	margin: 50px 100px;
}


.fourth .left{
	
	height: 100%;
	margin-right: 50px;
	flex: 2;
	
}

.right-button{
	
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	
}

.right-button a{
	
	width: 100%;
	margin: auto;
	font-family: 'Bitter', serif;
	font-size: 15px;
	font-weight: bold;
	color: white;
	background-color: rgb(125, 13, 89);
	text-align: center;
	height: 30%;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	display: flex;

}
.right-button p{
	
	margin: auto;
	
}
.right-button .jedan{
	
	

}

.right-button .dva{
	
	background-color: rgba();
}