.sixth{
	
	height: 300px;
	background: -webkit-linear-gradient(top, rgba(255,15,123, 0.5),rgba(111,0,117, 0.5)), url(bckg6.jpg) no-repeat ;
	background-size: cover;
	background-position: bottom;

}


.des{
	
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: stretch;
}

.des h5{
	
	color: rgba(255, 255, 255, 0.70);
	
}

.des-2{
	
	width: 50%;
	margin: 50px 100px;
}