.third{
	background: -webkit-linear-gradient(top, rgba(255,15,123, 0.5),rgba(111,0,117, 0.5)), url(bckg3.jpeg) no-repeat ;
	background-size: cover;
	height: 400px;
	background-position: center;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;

}

.empty{
	flex: 1;
}
.right{
	flex: 1;
	text-align: right;
	margin: 0 100px 0 0;
		
}

.right h5{
	
	margin: 100px 0 50px 0;
}

