.third{
	background: -webkit-linear-gradient(top, rgba(255,15,123, 0.5),rgba(111,0,117, 0.5)), url(bckg3.jpeg) no-repeat ;
	background-size: cover;
	height: 400px;
	background-position: center;
	margin: 0;
	padding: 0;

}

.right{

	text-align: right;
		
}

.right h5{
	
	margin: 90px 0 50px 0;
	color: rgba(255, 255, 255, 0.7);
}

.third-right{
	
	height: 100%;
	width: 50%;
	float: right;
	margin-right: 100px;
	
}